:root {
  --light-text-color: #ECF0F1; /*#e4e4e4;*/
  /* --dark-text-color: #34495e; */
  --dark-text-color: black;
  /* --box-bg-color:#38434e; */
  /* Dark background */
  /* --box-bg-color:#2f3841;
  --dark-bg-color: #242c34;
  --light-pop-color: var(--yellow-1);
  --main-pop-color: var(--yellow-2);
  --dark-pop-color: var(--yellow-3); 
  --main-text-color: var(--light-text-color);  */


  /* Light background */
  --light-bg-color: #fefefe;
  --box-bg-color:#2f3841;
  --light-pop-color: var(--blue-1);
  --main-pop-color: var(--blue-2);
  --dark-pop-color: var(--blue-3);
  --main-text-color: var(--dark-text-color);

  /* COLOR DEFINITIONS (light to dark) */
  --blue-1: #afd9ee;
  --blue-2: #3498DB;
  --blue-3: #2980B9;
  --turquoise-1: #48c9b0;
  --turquoise-2: #1ABC9C;
  --turquoise-3: #16A085;
  --purple-1: #BD97E2;
  --purple-2: #AD7DDB;
  --purple-3: #9871BD;
  --green-1: #c1e2b3;
  --green-2: #2ECC71;
  --green-3: #27AE60;
  /* --yellow-1: #f7ecb5;
  --yellow-2: #F1C40F;
  --yellow-3: #F39C12; */
  --red-1: #e4b9b9;
  --red-2: #E74C3C;
  --red-3: #C0392B;
  --pink-1: #ff619b;
  --pink-2: #e5578b;
  --pink-3: #cc4d7c;
  --pinkish-1: #af739a;
  --pinkish-2: #9d678a;
  --pinkish-3: #8c5c7b;
  --yellow-1: #F4C859;
  --yellow-2: #F2BB30;
  --yellow-3: #C19526;
}

body {
  /* background-color: var(--light-bg-color); */
  -webkit-text-size-adjust: 100%;
  /* font-family: 'xxx', sans-serif; */
  font-family: -apple-system, BlinkMacSystemFont, sans-serif;
  -webkit-font-feature-settings: "kern" 1;
  -moz-font-feature-settings: "kern" 1;
  -o-font-feature-settings: "kern" 1;
  font-feature-settings: "kern" 1;
  font-kerning: normal;
  text-rendering: optimizeLegibility;
  /* Beware of performance issues in mobile - see https://css-tricks.com/almanac/properties/t/text-rendering/ */
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased; }
  body.is-offset {
    margin-top: -195px; }

a {
  color: var(--dark-pop-color);
}

a:hover {
  color: var(--main-pop-color);
}

 h4, h7, ul, li, p {
  color: var(--main-text-color);
}

h6 {
  color: var(--main-text-color);
  font-weight: bold;
}

h8 {
  font-family: 'Courier New', monospace;
  font-size: 11pt;
}

.boxed {
  padding: 10px;
  border: 1px solid white;
  background-color: var(--box-bg-color);
}

.face
    {
      margin: 0 0 0 auto;
      position:absolute;
      z-index: 1;
      width: 280px;
      height: auto;
    }


  .center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 30px;
    width: 65%;
  }
  .maddy-border
    {
      position:absolute;
      top: 225px;
      left: 175px;
      z-index: 2;
      border:0px;
      width: 20px;
      height: auto;
      opacity:0;
    }
.maddy-border:hover {
  opacity:1
}

hr {
  border-top: 0.5px solid var(--main-text-color);
}

img {
  border-radius: 10px;
}

.btn-primary {
  color: white;
  background-color: var(--main-pop-color);
}

a.btn-primary.hover {
  color: white;
  background-color: var(--light-pop-color);
  border-color: var(--light-pop-color);
}

button {
  font-family: arial, sans-serif;
  color: var(--dark-pop-color);
  cursor: pointer;
}

button:hover{
  color: var(--light-pop-color);
}

.ref-button {
  background-color: var(--light-bg-color)!important;
  padding: 4px 6px!important;
  border: 2px solid var(--main-pop-color);
  color: var(--main-pop-color);
}

.ref-button:hover {
  /* background-color: var(--light-pop-color)!important; */
  border: 2px solid var(--light-pop-color);
  color: var(--light-pop-color);
}

#more {display: none;}

#header {
  margin-top: 20px;}
  @media (max-width: 480px) {
    #header {
      text-align: center; } }

.list-identity {
  list-style: none;
  padding-inline-start: 0;
  font-style: italic; }

.list-contact {
  list-style: none;
  color: slategrey;
  padding-inline-start: 0;
  font-style: italic; }

.center {
  text-align: center; }

div.content { 
  width: min(800px, 85%);
  /* margin-left: max(30px,10%);
  margin-right: max(30px,10%); */
  margin-left: auto;
  margin-right: auto;
}

ul.no-bullets {
  list-style-type: none; /* Remove bullets */
  margin: 15px;
  padding: 0px;
  /* margin: 0; Remove margins */
}

li {
  margin: 10px 0;
}

li.unpadded {
  margin: 0 0;
}

p.faded {
  text-align: right;
  color:darkgray;
  font-style: italic; 
}

p.mono {
  font-family: monospace;
  font-size: 12pt;
}

.parent {
  position: relative;
  top: 0;
  left: 0;
}
.bottom {
  position: relative;
  top: 0;
  left: 0;
}
.top {
  position: relative;
  top: -50px;
  right: -100px;
}

.maddy
  {
    /* position:absolute;
    top: 225px;
    left: 275px;
    z-index: 2; */
    border:0px;
    width: 20px;
    height: auto;
  }

.visuallyhidden{position:absolute;clip:rect(1px,1px,1px,1px)}
/* .copybutton{background-color:#fff;border:0;outline:0;cursor:pointer;opacity:1;position:absolute;width:40px;height:40px;z-index:9;border-radius:24px} */
div.custom-tooltip {
    display: none;
    margin-left: 15px;
    padding: 5px 8px;
    background-color: gray;
    border-radius: 4px;
    font-size: 10pt;
    color: #fff;
}