:root {
  --light-text-color: #ECF0F1; /*#e4e4e4;*/
  --dark-text-color: #34495e;
  --main-text-color: var(--light-text-color);
  --light-bg-color: #fefefe;
  /* --box-bg-color:#38434e; */
  --box-bg-color:#2f3841;
  --dark-bg-color: #242c34;
  --light-pop-color: var(--yellow-1);
  --main-pop-color: var(--yellow-2);
  --dark-pop-color: var(--yellow-3);
  /* COLOR DEFINITIONS (light to dark) */
  --blue-1: #afd9ee;
  --blue-2: #3498DB;
  --blue-3: #2980B9;
  --turquoise-1: #48c9b0;
  --turquoise-2: #1ABC9C;
  --turquoise-3: #16A085;
  --purple-1: #BD97E2;
  --purple-2: #AD7DDB;
  --purple-3: #9871BD;
  --green-1: #c1e2b3;
  --green-2: #2ECC71;
  --green-3: #27AE60;
  /* --yellow-1: #f7ecb5;
  --yellow-2: #F1C40F;
  --yellow-3: #F39C12; */
  --red-1: #e4b9b9;
  --red-2: #E74C3C;
  --red-3: #C0392B;
  --pink-1: #ff619b;
  --pink-2: #e5578b;
  --pink-3: #cc4d7c;
  --pinkish-1: #af739a;
  --pinkish-2: #9d678a;
  --pinkish-3: #8c5c7b;
  --yellow-1: #F4C859;
  --yellow-2: #F2BB30;
  --yellow-3: #C19526;
}

body {
  background-color: var(--dark-bg-color);
  -webkit-text-size-adjust: 100%;
  /* font-family: 'Quicksand', sans-serif; */
  /* font-family: 'Roboto', sans-serif; */
  /* font-family: 'Archivo Black', sans-serif; */
  /* font-family: 'Baloo Tamma 2', cursive; */
  /* font-family: 'Nunito', sans-serif; */
  font-family: 'Red Hat Text', sans-serif;
  -webkit-font-feature-settings: "kern" 1;
  -moz-font-feature-settings: "kern" 1;
  -o-font-feature-settings: "kern" 1;
  font-feature-settings: "kern" 1;
  font-kerning: normal;
  text-rendering: optimizeLegibility;
  /* Beware of performance issues in mobile - see https://css-tricks.com/almanac/properties/t/text-rendering/ */
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased; }
  body.is-offset {
    margin-top: -195px; }

a {
  color: var(--dark-pop-color);
}

a:hover {
  color: var(--main-pop-color);
}

h4, h6, h7, ul, li, p {
  color: var(--main-text-color);
}

h8 {
  font-family: 'Courier New', monospace;
  font-size: 11pt;
}

.boxed {
  padding: 10px;
  border: 1px solid white;
  background-color: var(--box-bg-color);
}



hr {
  border-top: 0.5px solid var(--main-text-color);
}

img {
  border:5px solid var(--main-text-color)
}

.btn-primary {
  color: white;
  background-color: var(--main-pop-color);
}

a.btn-primary.hover {
  color: white;
  background-color: var(--light-pop-color);
  border-color: var(--light-pop-color);
}

button {
  background: none!important;
  border: none;
  padding: 0!important;
  /*optional*/
  font-family: arial, sans-serif;
  /*input has OS specific font-family*/
  color: var(--dark-pop-color);
  cursor: pointer;
}

button:hover{
  color: var(--light-pop-color);
}


#more {display: none;}

#header {
  margin-top: 20px;}
  @media (max-width: 480px) {
    #header {
      text-align: center; } }

.list-identity {
  list-style: none;
  padding-inline-start: 0;
  font-style: italic; }

.list-contact {
  list-style: none;
  color: slategrey;
  padding-inline-start: 0;
  font-style: italic; }

.center {
  text-align: center; }
